html {
    background-color: lightgray;
}

body {
    background-color: lightgray;
}

<<<<<<< HEAD
h1 {
    font-family: bold Garamond, Georgia;
=======
/* Dropdown Button */
.dropbtn {
    background-color: green;
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#logo {
>>>>>>> e1e34d0ddebd00e75fa78fad748a1886aecc570e
    background-color: lightgray;
    color: green;
    text-shadow: 2px 2px whitesmoke;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 35%;
}

table {
    margin: 0 auto;
}

p {
    text-shadow: 1px 1px whitesmoke;
    font: bold 20px Black;
    text-align: center;
}

input{
    font-family: bold Garamond;
    border-radius: 6px;
    
    


}

input[type=text]:focus {
    border: 2px solid black;
    outline: none;
    
    
}

.city {
    
    border: none;

}

.state {
    border: none;
}
<<<<<<< HEAD

=======
>>>>>>> e1e34d0ddebd00e75fa78fad748a1886aecc570e

button {
    border: none;
    outline: none;
<<<<<<< HEAD
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 6px;
    margin-left: 5px;
}
button:active {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
=======
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    margin-left: 5px;
}

button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
>>>>>>> e1e34d0ddebd00e75fa78fad748a1886aecc570e
    transform: translateY(4px);
    outline: none;
    border: none;
}
#map {
    padding: 10px 0px;
    margin: 10px auto;
    height: 300px;
    /* The height is 400 pixels */
    width: 90%;
    /* The width is the width of the web page */
}