html {
    background-color: lightgray;
}

body {
    background-color: lightgray;
}

h1 {
    font-family: bold Garamond, Georgia;
    background-color: lightgray;
    color: green;
    text-shadow: 2px 2px whitesmoke;
    text-align: center;

}

table {

    margin: 0 auto;
}

p {
    text-shadow: 1px 1px whitesmoke;
    font: bold 20px Black;
    text-align: center;
}

input{
    font-family: bold Garamond;
    border-radius: 6px;
    
    


}

input[type=text]:focus {
    border: 2px solid black;
    outline: none;
    
    
}

.city {
    
    border: none;

}

.state {
    border: none;
}


button {
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 6px;
    margin-left: 5px;
}
button:active {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
    outline: none;
    border: none;
}
#map {
    padding: 10px 0px;
    margin: 10px auto;
    height: 300px;
    /* The height is 400 pixels */
    width: 90%;
    /* The width is the width of the web page */
}